* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f0c15;
  color: #e8e8e8;
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

/* Logo */
.logo {
  width: 125px;
  margin-bottom: 20px;
}

/* Settings (Common) */
.settings__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.settings__item:hover {
  background: #444;
}

.settings__item-info > h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.settings__item > strong {
  font-size: 14px;
}

/* Settings (Blacklist) */
.settings__blacklist {
  margin-top: 20px;
}
.settings__blacklist > h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.settings__blacklist-textarea {
  margin-top: 15px;
  outline: none;
  resize: none;
  width: 100%;
  min-height: 300px;
  background: #1f0c15;
  color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  transition: border 0.2s;
}

.settings__blacklist-textarea:focus {
  border: solid 1px #fff;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 20px;
  color: #d9d9d9;
}

/* Common */
.text-gray {
  color: #ccc;
}

.link {
  text-decoration: underline;
  color: #db0068;
  transition: color 0.2s;
}
.link:hover {
  color: #e8026d;
}

/* Media queries */
@media screen and (max-width: 800px) {
  .settings__item {
    flex-direction: column;
    align-items: start;
  }
}
